<!-- templates/index.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>Notes Maker</title>
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <h1>Notes Maker</h1>
    <form method="POST" action="/">
      <textarea name="html" rows="10" cols="50"></textarea><br>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>